.example-container {
  width: 250%;
  height: 100%
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.example-full-width {
  width: 100%;
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-spacer {
  flex: 1 1 auto;
}
.drawer{
  width: 20%;
  background-color: #020024;
  /* background: linear-gradient(to bottom right, #020024 10%, #6f6e91 50%); */
}
.example-toolbar {
  height: 45px;
  background: linear-gradient(148deg, #020024 0%, #6f6e91 50%);
}
.drawer-content{
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10%;
}
.button{
  background:  linear-gradient(148deg, #020024 0%, #6f6e91 20%);
  margin-left: 20px;
}
.example-margin{
  color:  linear-gradient(148deg, #020024 20%, #6f6e91 50%);
}


.file-upload {
  display: none;
}
