<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <!-- <mat-icon (click)="drawer.toggle()" >menu</mat-icon> -->
  </button>
  <span>PLM BOM Download</span>
</mat-toolbar>

  <mat-card class="example-container">
    <div class="example-container">
      <mat-form-field  appearance="fill">
        <mat-label>Enter PLM Style</mat-label>
        <input matInput #input maxlength="10" placeholder="Plm Style" [(ngModel)]="style">
      </mat-form-field>
    
      <!-- <mat-form-field appearance="fill">
        <mat-label>Select company Season</mat-label>
        <mat-select>
          <mat-option value="option">Option</mat-option>
        </mat-select>
        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
      </mat-form-field> -->

      <mat-form-field appearance="fill">
        <mat-label>Select BOM CNL</mat-label>
        <mat-select [(ngModel)]="selected_style">
          <mat-option  *ngFor="let select of cnldata" [value]="select.bom_cnl">{{select.bom_cnl}}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button class="button" (click)="onSubmit()" >Download</button>
      
    </div>
  </mat-card> 
